<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SurveyManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>survey.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>survey.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveFormServlet</display-name>
    <servlet-name>SaveFormServlet</servlet-name>
    <servlet-class>survey.SaveFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFormServlet</servlet-name>
    <url-pattern>/SaveFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FillFormServlet</display-name>
    <servlet-name>FillFormServlet</servlet-name>
    <servlet-class>survey.FillFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FillFormServlet</servlet-name>
    <url-pattern>/FillFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitFormServlet</display-name>
    <servlet-name>SubmitFormServlet</servlet-name>
    <servlet-class>survey.SubmitFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFormServlet</servlet-name>
    <url-pattern>/SubmitFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalyzeResponsesServlet</display-name>
    <servlet-name>AnalyzeResponsesServlet</servlet-name>
    <servlet-class>survey.AnalyzeResponsesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeResponsesServlet</servlet-name>
    <url-pattern>/AnalyzeResponsesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFormServlet</display-name>
    <servlet-name>GetFormServlet</servlet-name>
    <servlet-class>survey.GetFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFormServlet</servlet-name>
    <url-pattern>/GetFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFormServlet</display-name>
    <servlet-name>UpdateFormServlet</servlet-name>
    <servlet-class>survey.UpdateFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFormServlet</servlet-name>
    <url-pattern>/UpdateFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFormServlet</display-name>
    <servlet-name>DeleteFormServlet</servlet-name>
    <servlet-class>survey.DeleteFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFormServlet</servlet-name>
    <url-pattern>/DeleteFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFormServlet</display-name>
    <servlet-name>ViewFormServlet</servlet-name>
    <servlet-class>survey.ViewFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFormServlet</servlet-name>
    <url-pattern>/ViewFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>survey.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>survey.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>